spring.application.name=signal-api
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.flyway.locations=classpath:db/migration
spring.flyway.baseline-on-migrate=false

server.servlet.context-path=/api

allowed.origin=http://localhost:4200

security.jwt.secret-key=
security.jwt.expiration-time=
security.jwt.refresh.expiration-time=

logging.level.org.springframework.security=

server.port=8080
server.address=0.0.0.0

#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true


newsdata-api-key=
newsdata-base-url=
